body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
    line-height: 1.5;
}

h1 {
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 30px; 
    color: #0D0D0D; 
    text-align: center; 
}

h2.correct {
    font-size: 39px;
    color: #0D0D0D;
    text-align: inherit; /* Allows inheritance of text alignment from parent */
}

.blue h2 {
    color: #C4C4C4 !important;  /* Ensures this color has precedence */
}

p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

p.correct {
    font-size: 29.4px;
    padding: 10px 0 0 10px;
}

img {
    width: 250px;
    display: block;
    margin: auto;
    border: 10px dashed #FFFFFF;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF; /* Default white border for all divs */
}

.rounded-top {
    border-radius: 15px 15px 0 0;  /* Rounded top corners */
}

.introduction {
    border-radius: 15px; 
    margin-top: 15px;
    line-height: 2; 
}

.introduction, .red, .blue, .yellow, .green {
    text-align: inherit; /* Ensures text alignment is inherited from specific class styles */
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

footer {
    background: linear-gradient(0deg, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
    text-align: right;
    padding: 15px;
    font-size: 20px;
}
